{% extends 'base.html.twig' %}

{%  block body %}

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">    <img src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131032922_1156434281466016_3160520140419395504_n.png?_nc_cat=103&ccb=2&_nc_sid=ae9488&_nc_ohc=jxThqoabDycAX8CDkfW&_nc_ht=scontent.ftun4-1.fna&oh=6e07304c5256131b4a482159451a3913&oe=5FFC6169">
</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:#10aeda">Accueil</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" href="#">Qui sommes-nous</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sondage
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Créer</a></li>
                        <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Répondre</a></li>
          </ul>
        </li>
          
       <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
        

      

      </ul>
               <a style=" margin:1% color:#10aeda; border-color: #10aeda; background-color:#10aeda; "class="btn btn-primary"  href="{{path('app_logout')}}">Se déconnecter</a>

    </div>
  </div>
</nav>
<div class="font-monospace">
<br><br><br>
  <h2 style="text-align: center; padding: 20px; color:  #0A1538;    font-size: xxx-large;"class="font-monospace" >Votre avis est important</h2><br>

<div class="row row-cols-1 row-cols-md-3 mb-3 text-center" style="    margin-left: 28%;">
    <div class="col" style="width: 22.333333%">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Consulter les sondages</h4>
      </div>
      <div class="card-body">
              <h1 class="card-title pricing-card-title"> étape 1</h1>

        <img alt="sujet" style=" height: 89px;
" src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131304739_226292455677976_1305033030657955001_n.png?_nc_cat=106&ccb=2&_nc_sid=ae9488&_nc_ohc=lVPSBxMcdK8AX-zSX_d&_nc_ht=scontent.ftun4-1.fna&oh=ef15768880c6cec375af547af300c3ef&oe=5FFCE80A" />
          <form action="{{path('listesondage',{'idSonde':app.user.id})}}" method="get">
           <button type="submit" class="w-100 btn btn-lg btn-success" style="margin-top: 9%;" >Consulter</button>
        </form>
      </div>
    </div>
    </div>
    <div class="col"style="width: 19.333333%">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Répondre au sondage</h4>
      </div>
      <div class="card-body">
                    <h1 class="card-title pricing-card-title"> étape 2</h1>
          <img alt="sujet" style=" height: 89px;
" src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131257771_1135170223582526_465694749151711907_n.png?_nc_cat=105&ccb=2&_nc_sid=ae9488&_nc_ohc=z3TQQUA_FJ8AX9rchWM&_nc_ht=scontent.ftun4-1.fna&oh=cac5c64c8b64b858aee918ed48629980&oe=5FFB91A5" />
      </div>
    </div>
    </div>
   
  
     <div class="col"style="width: 19.333333%">
      <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Rémunération</h4>
      </div>
      <div class="card-body">
                    <h1 class="card-title pricing-card-title"> étape 3</h1>

       <img alt="sujet" style=" height: 89px;
" src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131002955_678575489492248_1761023052303518642_n.png?_nc_cat=107&ccb=2&_nc_sid=ae9488&_nc_ohc=7w_EEH5aOCkAX9Ji7EO&_nc_ht=scontent.ftun4-1.fna&oh=d8549a4b80853895c80082538a5e3109&oe=5FFAF4B4" />
      </div>
      </div>
    </div>
    </div>
  </div>


<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
      <div class="col-12 col-md">
        <img class="mb-2" style="height: 58px;
    width: 14%;" src="https://scontent.ftun4-1.fna.fbcdn.net/v/t1.15752-9/131362750_1645750308942476_3542390376714356479_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=9BIGKuYvkbAAX_-PNIj&_nc_ht=scontent.ftun4-1.fna&oh=6e984e2024aaae71d89928aee1f84d36&oe=5FFB7EE4" alt="" width="24" height="19">
        <small class="d-block mb-3 text-muted">© 2020-2021</small>
      </div>
      <div class="col-6 col-md">
        <h5>Sondage</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Création</a></li>
          <li><a class="link-secondary" href="#">Répondre</a></li>
          <li><a class="link-secondary" href="#">Statistique</a></li>
          <li><a class="link-secondary" href="#">Rémunération</a></li>
        
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Qui sommes-nous</h5>
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary" href="#">Le concept</a></li>
          <li><a class="link-secondary" href="#">Contact</a></li>
          <li><a class="link-secondary" href="#">Nous rejoindre</a></li>
      
        </ul>
      </div>
     
    </div>
  </footer>
{% endblock %}