
{% extends 'base.html.twig' %}

{% block body %}
<ul class="a">
    <img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.15752-9/129516733_1070227883401672_4190008357141565674_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=gCqGsGF6InkAX_tf-3C&_nc_ht=scontent.ftun2-1.fna&oh=f41d891f6dcc6809fc2a88bb5f7fd105&oe=5FF425DC">
</ul>
 <div class="c" >
{{ form_start(form) }}
<br>
<h1 style=" margin-left: 20px;"> Ajouter un type de rémunération : </h1><br>
<div class="container" style=" margin-left: 100px; width: 450px; ">
   <br>
    <div>
        {{ form_row(form.nom,{'attr':{'class':'form-control'}}) }} 
        {{ form_row(form.offre,{'attr':{'class':'form-control'}}) }} 
    <br><br>
  <button  class="btn btn-primary" style="background-color:white; color: #0A1538; border-color:#0A1538  ">Ajouter</button>

</div>
{{ form_end(form) }}
</div>
{% endblock %}