{% extends 'base.html.twig' %}
{%  block body %}


        <h3 > afficher sondage</h3>



            <div >
            </div>

            <h3 style="margin-left: 100px">{{ sondagess.titre }}</h3>

            {% for question in sondagess.questions %}

                <h4 style="margin-left: 100px">{{ question.texte }}</h4>

                {% for option in question.options %}
                    <div style="margin-left: 100px">
                        <h2>{{  option.contenue }}</h2>

                    </div>
                    {% endfor %}

            {% endfor %}




{% endblock %}







