{% extends 'base.html.twig' %}

{% block title %}Mes informations{% endblock %}

{% block body %}
<ul class="a">
    <img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.15752-9/129516733_1070227883401672_4190008357141565674_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=gCqGsGF6InkAX_tf-3C&_nc_ht=scontent.ftun2-1.fna&oh=f41d891f6dcc6809fc2a88bb5f7fd105&oe=5FF425DC">
</ul>
 <div class="c" >
    <h1>Mes Information</h1>
    {{form_start(form)}}
   

    {{form_end(form)}}
   </div>
{% endblock %}