{% extends 'base.html.twig' %}

{% block title %}Hello EnqueteurContollerController!{% endblock %}

{% block body %}
<ul class="a">
    <img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.15752-9/129516733_1070227883401672_4190008357141565674_n.png?_nc_cat=102&ccb=2&_nc_sid=ae9488&_nc_ohc=gCqGsGF6InkAX_tf-3C&_nc_ht=scontent.ftun2-1.fna&oh=f41d891f6dcc6809fc2a88bb5f7fd105&oe=5FF425DC">
</ul>
 <div class="c" >
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'D:/Mes-Programmes/xmapp/php/www/futur/src/Controller/EnqueteurContollerController.php'|file_link(0) }}">src/Controller/EnqueteurContollerController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'D:/Mes-Programmes/xmapp/php/www/futur/templates/enqueteur_contoller/index.html.twig'|file_link(0) }}">templates/enqueteur_contoller/index.html.twig</a></code></li>
    </ul>
</div>
</div>
{% endblock %}
